.show {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: #f6f6f6;
  padding: 1rem;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  width: 25%;
}
.hidden {
  display: none;
}
.header-cart {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.close-btn {
  background-color: var(--color-danger);
  color: #000;

  border-radius: 50%;
}
.show img {
  border-radius: 20%;
}
@media screen and (max-width: 767px) {
  .show {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 1rem;
    height: 100%;
    width: 100%;
  }
  .clock {
    width: 80%;
  }
}
